@charset "UTF-8";

main > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main > div:nth-child(2) > button {
    height: 40px;
    width: 100px;
    margin: 13px 0px 13px 0px;
}

main > div:nth-child(3) {
    width: 810px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

main > div:nth-child(3) > div {
    border: 1px solid #000;
    margin-right: 3px;
    margin-bottom: 3px;
}

main > div:nth-child(3) > div > img {
    /* width: 197.1691px; */
    width: 187px;
    padding: 0px 5px 5px 5px;
}

main > div:nth-child(3) > div > p {
    padding-left: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

