@charset "UTF-8";

main {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

main > img {
    width: 280px;
    flex-basis: auto;
    align-items: flex-start;
}

main > div {
    font-size: 15px;
    margin-left: 30px;
}

.emphasis {
    font-weight: bold;
}