<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Mysite</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    
</head>
<body>
    <div id="wrap">
        <!--/header-->
        <header class="clearfix">
            <h1>MySite</h1>

            <ul class="clearfix">
                <li>로그인</li>
                <li>회원가입</li>
            </ul>
        </header>

        <!-- nav -->
        <nav>
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li>방명록</li>
            </ul>
        </nav>

        <!-- content2 요소 -->
        <div id="content2" class="clearfix">
            <aside>
                <!-- 현제 페이지의 카테고리 표시 -->
                <h2>게시판</h2>
                
                <!-- 현제 페이지와 같은 카테고리의 다른 항목 표시 -->
                <ul class="clearfix">
                    <li>일반게시판</li>
                    <li>댓글게시판</li>
                </ul>
            </aside>
            <main>
                <div class="clearfix">
                    <!-- 현제 페이지의 제목 표시 -->
                    <h2>일반게시판</h2>
                    <!-- 현제 페이지의 Bread Crumb 표시 -->
                    <ol class="clearfix">
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>
                <!-- 검색창 -->
                <div id="search" class="clearfix">
                    <div>
                        <input type="text" name="" id="">
                        <button>검색</button>
                    </div>
                </div>
                <!-- 테이블 -->
                <table>
                    <th></th>
                </table>
            </main>
        </div>

        <!-- footer -->
        <footer>
            <p>Copyright ⓒ2025 황일영. All right reserved</p>
        </footer>

    </div>
</body>
</html>