<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Mysite-flex</title>
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <link rel="stylesheet" href="../../assets/css/frame.css">
    <link rel="stylesheet" href="../../assets/css/account/account-signup-flex.css">
</head>
<body>
    <div id="wrap">
        <header>
            <h1>
                <a href="">MySite</a>
            </h1>
            <ul>
                <li>
                    <a href="">로그인</a>
                </li>
                <li>
                    <a href="">회원가입</a>
                </li>
            </ul>
        </header>
        <nav>
            <ul>
                <a href=""><li>입사지원서</li></a>
                <a href=""><li>게시판</li></a>
                <a href=""><li>갤러리</li></a>
                <a href=""><li>방명록</li></a>
            </ul>
        </nav>
        <div class="content">
            <!-- aside -->
            <aside>
                <h2>회원</h2>
                <ul>
                    <a href=""><li>회원정보</li></a>
                    <a href=""><li>로그인</li></a>
                    <a href=""><li>회원가입</li></a>
                </ul>
            </aside>

            <!-- main -->
            <main>
            <!-- main 태그의 윗 부분 -->
                <div class="breadcrumb">
                    <h3>로그인</h3>
                    
                    <ul>
                        <li>홈</li>
                        <li>회원</li>
                        <li>로그인</li>
                    </ul>
                </div>

                <!-- 여백을 관리하기 위해  -->
                <form>
                    <!-- 아이디 -->
                    <div>
                        <label for="uid">아이디</label>
                        <input type="text" name="uid" id="uid" placeholder="아이디를 입력하세요">
                    </div>
                    <!-- 패스워드 -->
                    <div>
                        <label for="upw">패스워드</label>
                        <input type="password" name="upw" id="upw" placeholder="비밀번호를 입력하세요">
                    </div>
                    <!-- 로그인 -->
                    <div>
                        <button>
                            로그인
                        </button>
                    </div>
                </form>
            </main>
        </div>
        <footer>
            <p>Copyright © 2025 안성희. All right reserved</p>
        </footer>
    </div>
</body>
</html>