@charset "UTF-8";

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > div:nth-child(1) {
    border: 1px solid #000;
}

form > div:nth-child(1) > * {
    border-right: 1px solid #000;
}

form > div:nth-child(1) > label {
    display: inline-block;
    width: 80px;
    height: 30px;
    margin-left: 5px;
    /* background-color: #F0F; */
}

form > div:nth-child(1) > input {
    padding-top: 5px;
    display: inline-block;
    width: 305px;
}

form > div:nth-child(2) {
    background-color: #FF0;
}

form > div:nth-child(3) {
    align-items: center;
    background-color: #F0F;
}