@charset "UTF-8";

div#wrap {
    width: 1000px;
    margin: 0px auto;
}

header {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #000;
}

header > h1 {
    float: left;

    color: #79b30b;
    font-size: 35px;
    font-weight: 900;
}

header > ul {
    float: right;
}

header > ul > li {
    float: left;

    padding: 5px;
    margin-top: 15px;
    margin-left: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;

    font-size: 10px;
}

nav > ul > li {
    float: left;
    width: 250px;
    padding: 10px 0px 10px 0px;
    
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
    border-bottom: 1px solid #000;
}

footer {
    padding: 10px 0px 10px 0px;
    background-color: #DDDDDD;
    text-align: center;
}

aside {
    float: left;
    width: 180px;
    margin-right: 10px;
}

aside > h2 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background-color: #DDDDDD;
}

aside > ul > li {
    font-size: 15px;
    border: 1px solid #c0c0c0;
    padding: 5px ;
    margin-top: 5px;
}

main {
    float: left;
    width: 810px;
}

main > div.clearfix  {
    margin-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

main > div.clearfix > h3 {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

main > div.clearfix > ul {
    float: right;
}

main > div.clearfix > ul > li {
    float: left;
    margin-left: 5px;
}

main > div.clearfix > ul > li:not(:last-child):after {
    content: " > ";
}